body {
    background-color: palegoldenrod;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: darkred;
}

/* You can add global styles to this file, and also import other style files */
h1 {
    text-align: center;
    color: darkred;
}

.output {
    background-color: white;
    color: black;
    border-radius: 10%;
    padding: 1em;
    padding: 1em;
    text-align: center;
    font-size: large;
}

button {
    margin: 2em;
    font-size: medium;
    transition: transform 0.7s ease-in-out;
    border-radius: 10%;
}

img {
    width: 70px;
    height: 70px;
}

.note {
    color: darkred;
    font-size: small;
    text-align: center;
}